h1{
	color: purple;
	font-size: 60px;
  font-family: 'Dancing Script', cursive;
}
#sentence1{
	color: #fe0495 ;
	font-size: 48px;
	font-family: 'Julius Sans One', sans-serif;
}
#sentence2{
   color: red;
   font-size: 48px;
font-family: 'Bad Script', cursive;
}
p{
color: black;
font-size: 38px

}
body {
	background-color: #00ffd4 ;
}
